{% import "macros/macros.html" as sliderBtn %}

<div class="main-slider js-main-slider">
	<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			
			{% include 'main-slider/slide/main-slider-slide.html' %}
			{% include 'main-slider/slide/main-slider-slide.html' %}
			{% include 'main-slider/slide/main-slider-slide.html' %}
			{% include 'main-slider/slide/main-slider-slide.html' %}
			{% include 'main-slider/slide/main-slider-slide.html' %}
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination slider__pagination"></div>
	
	</div>
	
	<!-- Add Arrows -->
	<div class="swiper-button-prev js-main-slider-prev main-slider__prev swiper-button-disabled">
		{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="prev") }}
		
		<span>Назад</span>
	</div>
	<div class="swiper-button-next js-main-slider-next main-slider__next">
		<span>Следующий</span>
		
		{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="next") }}
	</div>
</div>
<!-- /.main-slider js-main-slider -->

