{% import "macros/macros.html" as sliderBtn %}

<div class="main-slider js-main-slider">
	<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			
			<div class="swiper-slide main-slider__slide">
				<div class="main-slider__slide-desc" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
					Баннер на главной странице
				</div>
				<!-- /.main-slider__slide-desc -->
				<a href="#js-platforms-tabs-1" class="js-anim-scroll main-slider__link js-main-slider-link">
					<img src="{{src}}main-slider-1.jpg" alt="" class="main-slider__img">
					<!-- /.main-slider__img -->
				</a>
			</div>
			<div class="swiper-slide main-slider__slide">
				<div class="main-slider__slide-desc" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
					Продвигаем товар в каталоге
				</div>
				<!-- /.main-slider__slide-desc -->
				<a href="#js-platforms-tabs-2" class="js-anim-scroll main-slider__link js-main-slider-link">
					<img src="{{src}}main-slider-2.jpg" alt="" class="main-slider__img">
					<!-- /.main-slider__img -->
				</a>
			</div>
			<div class="swiper-slide main-slider__slide">
				<div class="main-slider__slide-desc" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
					Реклама в разделе «красные ценники»
				</div>
				<!-- /.main-slider__slide-desc -->
				<a href="#js-platforms-tabs-3" class="js-anim-scroll main-slider__link js-main-slider-link">
					<img src="{{src}}main-slider-4.jpg" alt="" class="main-slider__img">
					<!-- /.main-slider__img -->
				</a>
			</div>
			<div class="swiper-slide main-slider__slide">
				<div class="main-slider__slide-desc" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
					Баннеры в разделе Специальные Предолжения
				</div>
				<!-- /.main-slider__slide-desc -->
				<a href="#js-platforms-tabs-4" class="js-anim-scroll main-slider__link js-main-slider-link">
					<img src="{{src}}main-slider-5.jpg" alt="" class="main-slider__img">
					<!-- /.main-slider__img -->
				</a>
			</div>
			<div class="swiper-slide main-slider__slide">
				<div class="main-slider__slide-desc" data-swiper-parallax="-200" data-swiper-parallax-opacity="0">
					Рекламная e-mail рассылка
				</div>
				<!-- /.main-slider__slide-desc -->
				<a href="#js-platforms-tabs-5" class="js-anim-scroll main-slider__link js-main-slider-link">
					<img src="{{src}}main-slider-6.jpg" alt="" class="main-slider__img lazyload">
					<!-- /.main-slider__img -->
				</a>
			</div>
		</div>
	
	</div>
	
	<!-- Add Pagination -->
	<div class="swiper-pagination slider__pagination"></div>
	
	<!-- Add Arrows -->
	<div class="swiper-button-prev js-main-slider-prev main-slider__prev swiper-button-disabled">
		{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="prev") }}
		
		<span>Назад</span>
	</div>
	<div class="swiper-button-next js-main-slider-next main-slider__next">
		<span>Следующий</span>
		
		{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="next") }}
	</div>
</div>
<!-- /.main-slider js-main-slider -->

