.main-slider {
	max-width: 473px;
	position: absolute;
	top: -48px;
	left: 64px;
	
	&__img {
		@include img-responsive()
	}
	
	&__prev {
		left: -840px;
	}
	
	&__next {
		right: -290px;
	}
	
	&__link {
		display: block;
	}
	
	&__slide-desc {
		position: absolute;
		right: 55px;
		text-align: right;
		bottom: 335px;
		font-size: 14px;
	}
	
	@media all and (max-width: 1600px) {
		
		&__prev,
		&__next {
			display: none;
		}
		
	}
	
	@media all and (max-width: $screen-xl) {
		max-width: 362px;
		position: absolute;
		top: -49px;
		left: 49px;
		
		&__slide-desc {
			bottom: 255px;
			right: 40px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		left: 50%;
		max-width: 431px;
		transform: translateX(-50%);
		
		&__slide-desc {
			right: 0;
			bottom: 300px;
		}
	}
	
	@media all and (max-width: $screen-md) {
		width: 340px;
		max-width: 100%;
		
		&__slide-desc {
			bottom: 240px;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		width: 228px;
		
		&__slide-desc {
			bottom: 166px;
		}
	}
}