<div class="mobile-menu js-mobile-menu">
	<div class="container">
		<div class="mobile-menu__inner">
			<!--<a href="" class="mobile-menu__close js-mobile-menu-close"><span></span></a>-->
			<!-- /.mobile-menu__close -->
			<div class="mobile-menu__desc">
				Данная навигация поможет Вам быстрее переместиться к интересующему блоку
			</div>
			<!-- /.mobile-menu__desc -->
			<ul class="mobile-menu__list">
				<li class="mobile-menu__item">
					<a href="#js-about" class="mobile-menu__link js-anim-scroll">
						Почему мы
					</a>
					<!-- /.mobile-menu__link -->
				</li>
				<!-- /.mobile-menu__item -->
				<li class="mobile-menu__item">
					<a href="#js-indicators" class="mobile-menu__link js-anim-scroll">
						Наши показатели
					</a>
					<!-- /.mobile-menu__link -->
				</li>
				<!-- /.mobile-menu__item -->
				<li class="mobile-menu__item">
					<a href="#js-mobile-timeline" class="mobile-menu__link js-anim-scroll">
						Наши перспективы
					</a>
					<!-- /.mobile-menu__link -->
				</li>
				<!-- /.mobile-menu__item -->
				<li class="mobile-menu__item">
					<a href="#js-platforms" class="mobile-menu__link js-anim-scroll">
						Все о рекламных местах
					</a>
					<!-- /.mobile-menu__link -->
				</li>
				<!-- /.mobile-menu__item -->
			</ul>
			<!-- /.mobile-menu__list -->
		</div>
		<!-- /.mobile-menu__inner -->
		
	</div>
	<!-- /.container -->
</div>
<!-- /.mobile-menu -->