.about-numbs {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 55px;
	
	&__col {
		width: 25%;
		padding-right: 40px;
		padding-bottom: 20px;
		
		&:first-child,
		&:nth-child(5) {
			width: 21%;
		}
	}
	
	&__title {
		font-size: 50px;
		font-weight: 800;
		color: $accent-color;
	}
	
	&__desc {
	
	}
	
	@media all and (max-width: $screen-xl) {
		
		&__title {
			font-size: 45px;
		}
		
		&__desc {
			font-size: 14px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		
		justify-content: center;
		padding-bottom: 28px;
		
		&__col {
			width: calc(100% / 3);
			padding-right: 0;
			text-align: center;
			padding-bottom: 37px;
			
			&:first-child,
			&:nth-child(5) {
				width: calc(100% / 3);
			}
		}
		
		&__desc {
			font-size: 16px;
		}
	}
	
	@media all and (max-width: $screen-md) {
		padding-bottom: 80px;
		max-width: 400px;
		margin: 0 auto;
		
		&__title {
			font-size: 34px;
		}
		
		&__col {
			width: 50%;
			
			&:first-child,
			&:nth-child(5) {
				width: calc(100% / 2);
			}
		}
	}
	
	@media all and (max-width: $screen-sm) {
		&__col {
			width: 100%;
			padding-bottom: 17px;
			
			&:first-child,
			&:nth-child(5) {
				width: 100%;
			}
		}
		
		&__title {
			font-size: 50px;
		}
		
		&__desc {
			br {
				display: none;
			}
		}
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}