.about-advantage {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(#000, .05);
	padding-bottom: 30px;
	margin-bottom: 17px;
	
	&__col {
		width: 21%;
		padding-right: 15px;
	}
	
	&__title {
		font-size: 16px;
		font-weight: 800;
		position: relative;
		margin-bottom: 17px;
		
		//top: 20px;
		//opacity: 0;
		
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 31px;
			background: $accent-color;
			position: absolute;
			bottom: -10px;
		}
	}
	
	&__desc {
		font-size: 16px;
		color: rgba(#323232, .7);
		
		//opacity: 0;
	}
	
	@media all and (max-width: $screen-lg) {
		justify-content: center;
		text-align: center;
		
		&__col {
			margin-right: 20px;
			margin-left: 20px;
			padding-right: 0;
			width: 25%;
		}
		
		&__title {
			&:after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
		
		max-width: 400px;
		margin: 0 auto 23px;
		padding-bottom: 0;
		border-bottom-color: transparent;
		position: relative;
		
		&:after {
			content: '';
			display: block;
			height: 1px;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			bottom: 0;
			background: rgba(#000, .05);
			width: 2000px;
		}
		
		&__col {
			width: 50%;
			margin: 0;
			padding: 0 15px 25px;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		
		margin-bottom: 15px;
		
		&__col {
			padding-left: 0;
			padding-right: 0;
		}
	}
}