.about {
	padding: 0 58px;
	position: relative;
	
	&__head {
	}

	&__title {
		font-size: 25px;
		font-weight: 800;
		max-width: 463px;
		margin-bottom: 66px;
		position: relative;
		
		//top: 40px;
		//opacity: 0;
		
		&:before {
			content: '';
			position: absolute;
			height: 4px;
			background: $accent-color;
			width: 100%;
			max-width: 41px;
			left: -55px;
			top: 19px;
		}
		
		&.active {
			&:before {
				animation-delay: 1.5s;
				animation: width 6s ease-in infinite;
				animation-iteration-count: 1;
			}
		}
	}
	
	&__shadow {
		position: absolute;
		color: rgba(50,50,50,.03);
		font-size: 180px;
		font-weight: 800;
		line-height: 1;
		transform: translateY(-84%);
		left: 117px;
		
		opacity: 0;
	}
	
	@media all and (max-width: $screen-xl) {
		padding: 0;
		
		&__title:before {
			left: 0;
			top: auto;
			bottom: -20px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		&__shadow {
			display: none;
		}
		
		&__title {
			margin: 0 auto 40px;
			text-align: center;
			
			&:before {
				display: none;
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
	
	}
	
	@media all and (max-width: $screen-sm) {
	
		&__title {
			line-height: 1.4;
			margin-bottom: 28px;
		}
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}
