.about {
	padding: 0 58px;
	overflow: hidden;
	
	&__head {
		position: relative;
	}

	&__title {
		font-size: 25px;
		font-weight: 800;
		max-width: 463px;
		margin-bottom: 55px;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			height: 4px;
			background: $accent-color;
			width: 41px;
			left: -55px;
			top: 15px;
		}
	}
	
	&__shadow {
		position: absolute;
		color: rgba(50,50,50,.03);
		font-size: 180px;
		font-weight: 800;
		line-height: 1;
		transform: translateY(-105%);
		left: 100px;
	}
	
	@media all and (max-width: $screen-xl) {
		padding: 0;
		
		&__title:before {
			left: 0;
			top: auto;
			bottom: -20px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		&__shadow {
			display: none;
		}
		
		&__title {
			margin: 0 auto 40px;
			text-align: center;
			
			&:before {
				display: none;
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
	
	}
	
	@media all and (max-width: $screen-sm) {
	
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}
