.btn {
	display: inline-block;
	border: none;
	padding: 10px 20px;
	font-weight: 800;
	border-radius: 50px;
	font-size: 14px;
	
	.header & {
		background: #FFFFFF;
		color: #518300;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		margin-left: 15px;
	}
	
	&_sticky {
		
		color: #ffffff;
		display: flex;
		justify-content: center;
		max-width: 320px;
		margin: 0 auto 60px;
		transition: .5s;
		
		&.hidden-tablet {
			background: none;
		}
		
		.sticky {
			transition: top .5s;
		}
		
		div {
			
			background: $accent-color!important;
		}
	}
	
	
	
	
	@media all and (max-width: $screen-xl) {
		
		.header & {
			font-size: 12px;
		}
	}
	
	@media all and (max-width: $screen-lg) {
	
	}
	
	@media all and (max-width: $screen-md) {
	
	}
	
	@media all and (max-width: $screen-sm) {
	
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}