.hamburger {
	display: none;
	background: transparent;
	border: none;
	position: relative;
	z-index: 11;
	
	span {
		display: inline-block;
		vertical-align: middle;
		width: 32px;
		height: 23px;
		position: relative;
		background: url("../images/burger.svg") no-repeat center;
		
		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background: #fff;
			transform-origin: 50% 50%;
			top: 50%;
			border-radius: 3px;
			transition: .6s;
		}
		
		&:before {
			top: 0;
		}
		
		&:after {
			bottom: 0;
			top: auto;
		}
		
	}
	
	&.active {
		
		span {
			background: transparent;
			
			&:before {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}
			
			&:after {
				transform: translateY(50%) rotate(-45deg);
				bottom: 50%;
			}
		}
		
	}
	
	@media all and (max-width: 992px) {
		
		display: block;
		margin-left: 20px;
	}
}