.main-section {
	padding: $main-page-padding 0 $main-page-padding - 20px;
	display: flex;
	
	&__left,
	&__right {
		width: 50%;
	}
	
	&__sub-title {
		font-size: 16px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.3);
		font-weight: 500;
		margin-bottom: 20px;
	}
	
	&__title {
		font-weight: 800;
		font-size: 35px;
		margin-bottom: 50px;
		
		span {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				display: block;
				background: rgba(180, 210, 57, .3);
				height: 20px;
				width: 100%;
				z-index: -1;
				bottom: 0;
				left: 0;
			}
		}
	}
	
	&__slider {
		position: relative;
	}
	
	&__prev {
		left: -186px;
	}
	
	&__next {
		right: -186px!important;
	}
	
	&__shadow {
		img {
			@include img-responsive(auto);
			margin: 0 auto;
		}
	}
}