.main-section {
	padding: $main-page-padding 0 $main-page-padding - 20px;
	display: flex;
	
	&.sticky {
		margin-bottom: 60px;
	}
	
	&__left,
	&__right {
		width: 50%;
	}
	
	&__sub-title {
		font-size: 16px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.3);
		font-weight: 500;
		margin-bottom: 20px;
	}
	
	&__title-wrap {
		margin-bottom: 50px;
	}
	
	&__title {
		font-weight: 800;
		font-size: 35px;
		
		display: inline;
		box-shadow:
			inset 0 30px white,
			inset 0 50px rgba(180, 210, 57, .3);
		
		span {
			box-shadow:
				inset 0 30px white,
				inset 0 50px #fff;
		}
	}
	
	&__slider {
		position: relative;
	}
	
	&__slider-bg {
		
		width: 548px;
		
		img {
			@include img-responsive();
		}
		
		&:before,
		&:after {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			background: url("../images/border.png");
			left: 50px;
			z-index: 4;
		}
		
		&:after {
			display: none;
		}
	}
	
	&__prev {
		left: -186px;
	}
	
	&__next {
		right: -186px!important;
	}
	
	&__shadow {
		img {
			@include img-responsive(auto);
			margin: 0 auto;
		}
	}
	
	&__form {
		max-width: 390px;
	}
	
	@media all and (max-width: $screen-xl) {
		
		padding: 100px 0 80px;
		
		&__title {
			font-size: 30px;
		}
		
		&__title-wrap {
			margin-bottom: 35px;
		}
		
		&__slider-bg {
			width: 460px;
			
			&:before {
				width: 18px;
				height: 17px;
				top: 0px;
				left: 42px;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
	
	@media all and (max-width: $screen-lg) {
		flex-direction: column;
		padding-top: 60px;
		
		&__left,
		&__right {
			width: 100%;
			text-align: center;
		}
		
		&__left {
			margin-bottom: 80px;
		}
		
		&__title-wrap {
			max-width: 571px;
			margin: 0 auto 35px;
		}
		
		&__sub-title {
			margin-bottom: 20px;
		}
		
		&__form,
		&__slider-bg {
			margin: 0 auto;
		}
		
		&__slider-bg {
			position: relative;
			
			&:after {
				display: block;
				transform: rotateY(180deg);
				width: 22px;
				height: 19px;
				top: -1.2px;
				right: 41px;
				left: auto;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		
		&__shadow {
			display: none;
		}
	}
	
	@media all and (max-width: $screen-md) {
		
		padding-bottom: 60px;
		
		&__form {
			display: none;
		}
		
		&__left {
			margin-bottom: 65px;
		}
		
		&__slider-bg {
			width: 430px;
			margin: 0 auto;
			
			&:before {
				width: 15px;
				height: 14px;
				top: 1px;
				left: 39px;
				transform: rotate(-3deg);
			}
			
			&:after {
				width: 18px;
				height: 19px;
				top: -1px;
				right: 38px;
				transform: rotateY(180deg) rotateX(-11deg);
			}
		}
		
	}
	
	@media all and (max-width: $screen-sm) {
		
		&__slider-bg {
			width: 300px;
			
			
		}
		
		&__sub-title {
			font-size: 12px;
		}
		
		&__title {
			font-size: 23px;
			box-shadow: inset 0 19px #fff, inset 0 50px rgba(180,210,57,.3);
		}
		
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}