.platforms-content {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	
	&__inner {
		display: flex;
		flex-wrap: wrap;
		min-height: 400px;
		padding: 70px 60px 50px;
		
		.platforms-content_mail & {
			padding-bottom: 30px;
			padding-top: 40px;
		}
	}
	
	&__content {
		width: 45%;
		
		.platforms-content_mail & {
			width: 60%;
		}
		
	}
	
	&__pic-wrap {
		width: 55%;
		position: relative;
		
		.platforms-content_mail & {
			width: 40%;
		}
	}
	
	&__pic-bg {
		width: 500px;
		
		img {
			@include img-responsive();
		}
	}
	
	&__pic {
		position: absolute;
		top: 6px;
		left: 53px;
		width: 394px;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
		
		.platforms-content_mail & {
			width: 289px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	&__img {
		@include img-responsive();
	}
	
	&__item {
		display: flex;
	}
	
	&__index {
		background: #FFFFFF;
		box-shadow: 0px 0px 20px rgba(0, 14, 86, 0.1);
		font-size: 18px;
		width: 40px;
		height: 40px;
		min-width: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
	}
	
	&__list,
	&__item {
		margin: 0;
		padding: 0;
	}
	
	&__item {
		margin-bottom: 20px;
	}
	
	&__title {
		color: rgba(50, 50, 50, 0.5);
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 800;
	}
	
	&__sub-title {
		margin-bottom: 20px;
		font-weight: 800;
		color: #000000;
	}
	
	&__text {
		//max-width: 220px;
	}
	
	&__indicator-row {
		display: flex;
		margin-left: -33px;
		margin-right: -33px;
	}
	
	&__indicator {
		margin-left: 33px;
		margin-right: 33px;
	}
	
	&__row {
		display: flex;
		margin-bottom: 20px;
	}
	
	&__col {
		width: 50%;
		padding-right: 15px;
	}
	
	@media all and (max-width: $screen-xl) {
		//background: transparent;
		//box-shadow: none;
	}
	
	@media all and (max-width: $screen-lg) {
		
		&__title {
			.platforms-content_mail & {
				text-align: left;
			}
		}
		&__inner {
			//flex-direction: column;
			padding: 30px 40px;
		}
		
		&__content,
		&__pic-wrap {
			width: 100%;
			text-align: center;
			
			.platforms-content_mail & {
				//width: 100%;
			}
		}
		
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 10px;
		}
		
		&__item {
			width: calc(100% / 3);
			padding-right: 10px;
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		
		&__index {
			margin-right: 0;
			margin-bottom: 25px;
		}
		
		&__pic-bg {
			margin: 0 auto;
		}
		
		&__pic {
			left: 50%;
			transform: translateX(-50%);
			
			.platforms-content_mail & {
				position: relative;
				left: 0;
				transform: translateX(0);
				margin-top: 30px;
				width: 100%;
			}
		}
		
		&__row {
			.platforms-content_mail & {
				//flex-direction: column;
				text-align: left;
			}
		}
	}
	
	@media all and (max-width: 900px) {
		&__pic-wrap {
			.platforms-content_mail & {
				width: 33%;
			}
		}
		
		&__content {
			.platforms-content_mail & {
				width: 67%;
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
		background: transparent;
		box-shadow: none;
		
		&__inner {
			padding-left: 0;
			padding-right: 0;
			
			.platforms-content_mail & {
				flex-direction: column;
				max-width: 400px;
				margin: 0 auto;
			}
		}
		
		&__content,
		&__pic-wrap {
			.platforms-content_mail & {
				width: 100%;
			}
		}
		
		&__pic-wrap {
			
			margin: 0 auto;
			
			.platforms-content_mail & {
				max-width: 235px;
			}
		}
		
		&__pic-bg {
			width: 400px;
		}
		
		&__pic {
			width: 315px;
		}
		
		&__item {
			width: 50%;
		}
		
		&__indicator-row {
			background: #ffffff;
			margin: 0;
			padding: 30px;
			border-radius: 5px;
			flex-direction: column;
			align-items: center;
		}
		
		&__indicator:not(:last-child) {
			margin-bottom: 30px;
		}
		
		&__row {
			flex-direction: column;
		}
		
		&__col {
			width: 100%;
			padding: 0;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		&__item {
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;
		}
		
		&__pic-bg {
			display: none;
		}
		
		&__pic {
			position: static;
			transform: translateX(0);
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}
	}
}