.slider {
	
	&__btn {
		width: 42px!important;
		height: 42px!important;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .5s;
	}
	
	&__pagination {
		display: flex;
		align-items: center;
		color: rgba(0, 0, 0, 0.3);
		font-weight: 500;
		font-size: 20px;
		width: auto!important;
		top: 0;
		bottom: auto!important;
		left: auto!important;
		right: 0;
		justify-content: flex-end;
	}
	
	&__btn_next {
		transform: rotate(180deg);
	}
}