.soc {
	
	&__list {
		padding: 0;
		margin: 0;
		display: flex;
	}
	
	&__item {
		list-style-type: none;
		padding: 0 8px;
		
		&:first-child {
			padding-left: 0;
		}
		
		&:last-child {
			padding-right: 0;
		}
	}
	
	&__link {
	
	}
	
	&__pic {
	
	}
	
	@media all and (max-width: $screen-lg) {
		
		padding-top: 20px;
		
		&__item,
		&__link,
		&__pic {
			width: 31px;
			height: 31px;
			display: block;
		}
		
		&__item {
			padding: 0;
			margin: 0 18px;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
	
	}
}