.tabs-menu {
	line-height: 1;
	display: flex;
	
	.platforms & {
		padding: 50px 0px;
		justify-content: space-between;
	}
	
	&__link {
		display: flex;
		padding: 17px 15px;
		justify-content: center;
		//padding: 17px 20px;
		text-decoration: none;
		background: #FFFFFF;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		cursor: pointer;
		transition: background 500ms, color 500ms;
		margin: 0 1px 0 0;
		text-align: center;
		position: relative;
		font-size: 18px;
		color: rgba(50, 50, 50, 0.5);
		white-space: nowrap;
		
		.platforms & {
			padding: 17px 20px;
			
		}
		
		span {
			width: 0;
			height: 0;
			display: inline-block;
			overflow: hidden;
			transition: width .8s;
		}
		
		&.active {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0);
			
			span {
				width: auto;
				height: auto;
				transition: width .8s;
			}
			
			&:before {
				z-index: 1;
				content: "";
				position: absolute;
				height: 16px;
				width: 16px;
				-webkit-transform: rotate(-45deg);
				border-radius: 4px;
				bottom: 0;
				left: 50%;
				transform: translate(-50%,-50%) rotate(45deg);
				background: $accent-color;
				margin-bottom: -16px;
			}
		}
		
		@media (max-width: 767px) {
			display: none;
		}
	}
	
	&__link:hover,
	&__link.active,
	&__xslink:hover,
	&__xslink.active {
		background: $accent-color;
		color: #fff;
	}
	
	&__xslink {
		display: none;
		padding: 10px 30px;
		text-decoration: none;
		background: #fff;
		color: #000;
		margin: 0 0 1px;
		cursor: pointer;
		transition: background 500ms, color 500ms;
		position: relative;
		
		&:after {
			content: "";
			width: 12px;
			height: 7px;
			display: block;
			position: absolute;
			background: red;
			top: 50%;
			z-index: 1;
			right: 15px;
			transform: translateY(-50deg);
			background: svg-load('tab-arrow.svg', fill='#000') no-repeat;
			transition: .5s;
		}
		
		&.active {
			&:after {
				background: svg-load('tab-arrow.svg', fill='#fff') no-repeat;
				transform: rotate(180deg) translateY(50%);
			}
		}
		
		@media (max-width: 767px) {
			display: block;
		}
	}
	
	&__slider {
		padding: 50px 15px;
		margin: 0 65px;
	}
	
	@media all and (max-width: $screen-lg) {
		&__slider {
			padding: 40px 15px;
		}
		
		&__link {
			font-size: 17px;
			
			.platforms__tabs & {
				font-size: 16px;
				padding: 15px 17px;
			}
		}
	}
	
	@media all and (max-width: $screen-md) {
		
		.platforms & {
			padding-top: 40px;
			padding-bottom: 0;
		}
		
		&__slider {
			display: none;
		}
		
		&__xslink {
			margin-bottom: 20px;
		}
	}
}