.tabs {
	position: relative;
	width: 100%;
	
	&_indent {
		margin-bottom: 30px;
	}
	
	&__inner {
		position: absolute;
		left: -1000%;
		z-index: 0;
		opacity: 0;
		top: 0;
		transition: .5;
		
		&.active {
			left: 0;
			opacity: 1;
			z-index: 1;
			position: relative;
		}
		
	}
	
	&__block {
		padding: 30px;
		border-bottom: 1px solid #666;
	}
	
	@media all and (max-width: $screen-md) {
		&__inner {
			padding-bottom: 60px;
		}
	}
	
	@media all and (max-width: $screen-sm) {
		&__inner {
			padding-bottom: 37px;
		}
	}
	
}