.footer {
	background: $accent-color;
	padding: 40px 0;
	position: relative;
	line-height: 1;

	&__inner {
		padding: 0 15px;
		margin: 0 auto;
		max-width: 1200px;
		display: flex;
	}
	
	&__left {
		width: 60%;
	}
	
	&__right {
		display: flex;
		align-items: center;
		width: 40%;
		justify-content: flex-end;
		color: #fff;
	}
	
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__contact-link {
		color: #ffffff;
		font-size: 14px;
		font-weight: 800;
		
		&_email {
			font-size: 16px;
		}
	}
	
	&__develop {
		b {
			display: block;
		}
		
		a {
			text-decoration: underline;
			color: #ffffff;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		
		padding: 20px 0 40px;
		
		&__inner {
			flex-direction: column;
		}
		
		&__left,
		&__right {
			width: 100%;
		}
		
		&__row {
			flex-wrap: wrap;
			position: relative;
		}
		
		&__col {
			width: 50%;
			display: flex;
			margin-bottom: 20px;
			
			&:nth-child(1) {
				order: 0;
			}
			
			&:nth-child(2) {
				order: 1;
			}
			
			&:nth-child(3) {
				order: 2;
			}
			
			&:nth-child(3),
			&:nth-child(4) {
				justify-content: flex-end;
			}
		}
		&__col {
			&_mail,
			&_phone {
				margin: 0;
			}
		}
		
		&__contact-link {
			
			width: 34px;
			height: 34px;
			text-indent: -9999px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 0;
			background: url(../images/phone.svg);
			position: absolute;
			top: 0;
			right: 64px;
			
			&_email {
				right: 0;
				background: url(../images/mail.svg);
			}
		}
		
		&__right {
			margin-top: -52px;
		}
		
		&__develop {
			text-align: right;
		}
	}
	
	@media all and (max-width: $screen-md) {
		
		&__right {
			margin-top: 0;
			justify-content: center;
		}
		
		&__develop {
			text-align: center;
		}
		
		&__col_soc {
			width: 100%;
			justify-content: center;
		}
	}
}
