<div class="footer" id="js-footer">
	
	<div class="footer__inner">
		
		<div class="footer__left">
			<div class="footer__row">
				
				<div class="footer__col">
					
					{% include 'logo/global/logo.html' %}
				
				</div>
				<!-- /.footer__col -->
				<div class="footer__col footer__col_soc">
					
					<div class="soc">
						<ul class="soc__list">
							<li class="soc__item">
								<a href="#" class="soc__link">
									<img src="{{src}}fb.svg" alt="" class="soc__pic">
									<!-- /.soc__pic -->
								</a>
								<!-- /.soc__link -->
							</li>
							<!-- /.soc__item -->
							<li class="soc__item">
								<a href="#" class="soc__link">
									<img src="{{src}}vk.svg" alt="" class="soc__pic">
									<!-- /.soc__pic -->
								</a>
								<!-- /.soc__link -->
							</li>
							<!-- /.soc__item -->
							<li class="soc__item">
								<a href="#" class="soc__link">
									<img src="{{src}}insta.svg" alt="" class="soc__pic">
									<!-- /.soc__pic -->
								</a>
								<!-- /.soc__link -->
							</li>
							<!-- /.soc__item -->
							<li class="soc__item">
								<a href="#" class="soc__link">
									<img src="{{src}}ok.svg" alt="" class="soc__pic">
									<!-- /.soc__pic -->
								</a>
								<!-- /.soc__link -->
							</li>
							<!-- /.soc__item -->
						</ul>
						<!-- /.soc__list -->
					</div>
					<!-- /.soc -->
				
				</div>
				<!-- /.footer__col -->
				<div class="footer__col footer__col_phone">
					
					<a href="tel:+793767878889" class="footer__contact-link">
						+7 (937) 678 788 89
					</a>
					<!-- /.footer__contact-link -->
				
				</div>
				<!-- /.footer__col -->
				<div class="footer__col footer__col_mail">
					<a href="mailto:callium@gmail.com" class="footer__contact-link footer__contact-link_email">
						callium@gmail.com
					</a>
					<!-- /.footer__contact-link -->
				</div>
				<!-- /.footer__col -->
			
			</div>
			<!-- /.footer__row -->
		</div>
		<!-- /.footer__left -->
		
		<div class="footer__right">
			<div class="footer__develop">
				<b>Сайт разработан <a href="http://wedooo.ru/">Wedo</a></b>
				разработка и поддержка сайтов
			</div>
			<!-- /.footer__develop -->
		</div>
		<!-- /.footer__right -->
	</div>
	<!-- /.footer__inner -->

</div>
<!-- /.footer -->
