.header {
	display: flex;
	justify-content: space-between;
	background: #91B500;
	padding: 30px 0;
	position: relative;

	.header-inner & {
		flex-direction: row-reverse;
	}

	&__logo {

	}
	
	&__phone {
		font-weight: 800;
		color: #ffffff;
		padding: 5px 15px;
		font-size: 14px;
		white-space: nowrap;
	}
	
	&__btn {
		white-space: nowrap;
	}
	
	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__block {
		display: flex;
		align-items: center;
	
	}
	
	
	
	@media all and (max-width: $screen-xl) {
		
		padding: 20px 0;
		
		&__link {
			padding: 5px 9px;
			font-size: 13px;
		}
		
		&__phone {
			width: 34px;
			height: 34px;
			text-indent: -9999px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 0;
			background: url("../images/phone.svg");
		}
	}
	
	@media all and (max-width: $screen-lg) {
		
		&__phone {
			margin-left: 0;
			margin-right: 0;
		}
		
		&__btn {
			//position: fixed;
			//bottom: 15px;
			//left: 50%;
			//transform: translateX(-50%);
			//font-size: 14px;
			//padding-left: 15px;
			//padding-right: 15px;
			//z-index: 10;
			display: none;
			
		}
		
	}
	
	@media all and (max-width: $screen-md) {
	
	}
	
	@media all and (max-width: $screen-sm) {
	
	
	}
	
	@media all and (max-width: $screen-xs) {
	
	}
}
