<header class="header geometria">
	<div class="container">
		<div class="header__blocks">
			<div class="header__block">
				{% include 'logo/global/logo.html' %}
			</div>
			<div class="header__block header__block_wide">
				
				{% include 'menu/menu-header/menu-header.html' %}
				
				<a href="tel:+793767878889" class="header__phone">+7 (937) 678 788 89</a>
				<!-- /.header__phone -->
				
				<a href="#" data-url="ajax/callback.html" data-ajax="" class="btn header__btn">
					Заказать рекламное место
				</a>
				<!-- /.btn header__btn -->
				
				<button class="hamburger" id="js-hamburger" aria-expanded="false">
					<span></span>
				</button>
			</div>
		</div>
	</div>
</header>
