<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<script src="js/send.js"></script>

<script src="js/TweenLite.min.js"></script>
<script src="js/TimelineMax.min.js"></script>
<script src="js/CSSPlugin.min.js"></script>
<script src="js/ScrollMagic.min.js"></script>
<script src="js/animation.gsap.min.js"></script>
<!--<script src="js/debug.addIndicators.min.js"></script>-->

<script src="js/circle-progress.min.js"></script>
<script>
	
	function circleFillOpts(el, emptyFill, fill, val, delay) {
		$(el).circleProgress({
			startAngle: -Math.PI / 4 * 3,
			size: 137,
			value: 0,
			lineCap: 'round',
			emptyFill: emptyFill,
			fill: {color: fill}
		});
		setTimeout(function() { $(el).circleProgress('value', val);
			$('.indicators-charts__chart').addClass('active');
		}, delay);
	}
	
	function circles() {
		
		/* =============================================================================================================
			Все города
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.all-month', '#E6EAF0', '#B4D239', 0.33, 500);// 33%
		circleFillOpts('.all-year', '#E6EAF0', '#B4D239', 0.40, 500);
		circleFillOpts('.all-sex', '#FEA32A', '#B4D239', 0.63, 500);
		
		
		/* =============================================================================================================
			Екатеринбург
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.ekat-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.ekat-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.ekat-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Санкт-Петербург
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.spb-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.spb-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.spb-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Новосибирск
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.novosib-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.novosib-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.novosib-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Самара
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.samara-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.samara-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.samara-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Нижний Новгород
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.nn-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.nn-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.nn-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Пермь
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.perm-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.perm-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.perm-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		
		/* =============================================================================================================
			Уфа
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.ufa-month', '#E6EAF0', '#B4D239', 0.33, 500);
		circleFillOpts('.ufa-year', '#E6EAF0', '#B4D239', 0.50, 500);
		circleFillOpts('.ufa-sex', '#FEA32A', '#B4D239', 0.50, 500);
		
		/* =============================================================================================================
			Рекламная рассылка (ПРОСМОТРЫ)
			(класс элемента, цвет заливки пустой области, цвет заливки активной области, значение графика, время задержки)
=============================================================================================================*/
		circleFillOpts('.mailing-views', '#E6EAF0', '#B4D239', 0.40, 500);
		circleFillOpts('.mailing-transitions', '#E6EAF0', '#FEA32A', 0.17, 500);
	}
</script>

<script type="text/javascript" src="js/script.min.js"></script>

<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>
	var yaBrowserUpdater = new ya.browserUpdater.init({
		"lang": "ru",
		"browsers": {
			"yabrowser": "15.12",
			"chrome": "54",
			"ie": "11",
			"opera": "41",
			"safari": "8",
			"fx": "49",
			"iron": "35",
			"flock": "Infinity",
			"palemoon": "25",
			"camino": "Infinity",
			"maxthon": "4.5",
			"seamonkey": "2.3"
		},
		"theme": "yellow"
	});
</script>