{% macro indicatorsCharts(
mod = '',
years = '18‑24 года',
val = '9%'
)  %}

<div class="indicators-charts__row {{mod}}">
	<div class="indicators-charts__years">{{ years}}</div>
	<!-- /.indicators-charts__years -->
	<div class="indicators-charts__chart-wrap">
		<div class="indicators-charts__chart_empty"></div>
		<!-- /.indicators-charts__chart_empty -->
		<div class="indicators-charts__chart" style="max-width: {{val}}"></div>
		<!-- /.indicators-charts__chart -->
	</div>
	<!-- /.indicators-charts__chart-wrap -->
	<div class="indicators-charts__val">{{val}}</div>
	<!-- /.indicators-charts__val -->
</div>
<!-- /.indicators-charts__row -->

{% endmacro %}