.indicators-charts {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-right: 40px;
	margin-bottom: 40px;
	padding: 35px 35px 30px;
	min-height: 294px;
	
	&__title {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 800;
		color: rgba(50, 50, 50, .5);
		margin-bottom: 25px;
	}
	
	&__years,
	&__val {
		color: #000000;
	}
	
	&__years {
		margin-right: 32px;
		min-width: 126px;
	}
	
	&__row {
		display: flex;
		align-items: flex-end;
		margin-bottom: 16px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__chart-wrap {
		position: relative;
		width: 100px;
		height: 4px;
		margin-right: 15px;
	}
	
	
	&__val {
		
		.green & {
			color: $accent-color;
		}
		
		.purple & {
			color: $purple;
		}
		
		.orange & {
			color: $orange;
		}
		
		.pink & {
			color: $pink;
		}
		
		.red & {
			color: $red;
		}
	}
	
	&__chart {
		
		position: absolute;
		height: 4px;
		background: $accent-color;
		border-radius: 4px;
		top: -4px;
		left: 0;
		line-height: 1;
		
		.green & {
			background: $accent-color;
		}
		
		.purple & {
			background: $purple;
		}
		
		.orange & {
			background: $orange;
		}
		
		.pink & {
			background: $pink;
		}
		
		.red & {
			background: $red;
		}
		
		&_empty {
			position: absolute;
			height: 4px;
			width: 100%;
			background: #E6EAF0;
			border-radius: 4px;
			top: -4px;
			left: 0;
		}
	}
}