.map {
	padding-top: 60px;
	position: relative;
	
	svg {
		width: calc(100% + 200px);
		margin-top: -132px;
		margin-left: -80px;
		margin-right: -80px;
	}
	
	@media all and (max-width: $screen-xl) {
		
		svg {
			margin-left: 0;
		}
	}
	
	@media all and (max-width: $screen-lg) {
		display: none;
	}
}

#nn-text {
	transform: translate(10px, -5px);
}

.perm {
	transform: translate(-70px, -10px);
}

#perm-text {
	transform: translate(-70px, -18px);
}

.ekat {
	transform: translate(-70px, 45px);
}

.tumen {
	transform: translate(110px, -140px);
}

.novosib {
	transform: translate(180px, -180px);
}

.saratov {
	transform: translate(-14px, 5px);
}

.rostov {
	transform: translate(-20px, 0px);
}

#krasnodar-text {
	transform: translate(-10px, 0px);
}

