.indicators-block {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-right: 40px;
	margin-bottom: 40px;
	padding: 35px;
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 75%;
	}
	
	&__item {
		width: 50%;
	}
	
	&__title {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 800;
		color: rgba(50, 50, 50, 0.5);
		margin-bottom: 35px;
		min-height: 50px;
	}
	
	&__content {
		display: flex;
		align-items: center;
		
	}
	
	&__circle-desc {
		
		span {
			font-size: 14px;
			padding-left: 53px;
			position: relative;
			margin-left: 40px;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				height: 4px;
				width: 40px;
				display: block;
				border-radius: 4px;
				background: $accent-color;
			}
			
			.indicators-block_sex & {
				
				margin-top: 10px;
				margin-bottom: 10px;
				display: block;
				
				&:first-child {
					
					&:before {
						background: $orange;
					}
				}
			}
		}
	}
	
}