.indicators-block {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-right: 40px;
	margin-bottom: 40px;
	padding: 35px;
	min-height: 294px;
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 75%;
	}
	
	&__item {
		width: 50%;
	}
	
	&__title {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 800;
		color: rgba(50, 50, 50, 0.5);
		margin-bottom: 35px;
		min-height: 50px;
	}
	
	&__content {
		display: flex;
		align-items: center;
		
	}
	
	&__circle-desc {
		
		span {
			font-size: 14px;
			padding-left: 53px;
			position: relative;
			margin-left: 40px;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				height: 4px;
				width: 40px;
				display: block;
				border-radius: 4px;
				background: $accent-color;
			}
			
			.indicators-block_sex & {
				
				margin-top: 10px;
				margin-bottom: 10px;
				display: block;
				
				&:first-child {
					
					&:before {
						background: $orange;
					}
				}
			}
		}
	}
	
	@media all and (max-width: $screen-xl) {
		margin-right: 25px;
		margin-bottom: 20px;
		min-height: 294px;
		
		&__circle-desc {
			
			span {
				margin-left: 20px;
			}
		}
	}
	
	@media all and (max-width: 1007px) {
		min-height: 315px;
	}
	
	@media all and (max-width: $screen-lg) {
		min-height: 319px;
		margin-left: 18px;
		margin-right: 18px;
		margin-bottom: 34px;
		padding: 30px;
		
		&__content {
			flex-direction: column;
		}
		
		&__title {
			margin-bottom: 20px;
			min-height: 38px;
			text-align: center;
			margin-left: -1px;
			margin-right: -1px;
		}
		
		&__circle-desc {
			display: flex;
			
			.indicators-block_sex & {
				span:first-child {
					margin-left: 0;
				}
			}
		}
		
		&__list {
			width: 100%;
			padding: 0 40px;
		}
	}
	
	@media all and (max-width: $screen-md) {
		
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
		
		&__title {
			font-size: 14px;
		}
		
		&__list {
			padding-left: 0;
			padding-right: 0;
		}
		
		&__item {
			width: 100%;
		}
	}
}