{% include 'head/head.html' %}

{% import "macros/macros.html" as form %}
{% import "macros/macros.html" as sliderBtn %}
<body>

<div class="wrapper" id="js-wrapper">
	
	{% include 'header/global/header.html' %}
	
	<div class="middle">
		<div class="middle__container">
			
			<div class="content">
				<!-- WORKAREA -->
				<div class="container">
					
					<div class="main-section" id="main-section">
						<div class="main-section__left">
							<div class="main-section__sub-title">
								Популярный сегмент, гибкие цены
							</div>
							<!-- /.main-section__sub-title -->
							<div class="main-section__title-wrap">
								<h1 class="main-section__title">
									<span>Рекламные места на сайте </span>
									гипермаркета № 1 по регионам
									«вГастроном»
								</h1>
								<!-- /.main-section__title -->
							</div>
							<!-- /.main-section__title-wrap -->
							
							<div class="main-section__form">
								{{ form.form(modifier="main-section", from="Форма на главной") }}
							</div>
							<!-- /.main-section__form -->
						</div>
						<!-- /.main-section__left -->
						<div class="main-section__right">
							<div class="main-section__slider">
								
								<div class="main-section__slider-bg">
									<img src="{{src}}main-slider-bg.png" alt="">
								</div>
								
								{% include 'main-slider/main-slider.html' %}
								
								<div class="main-section__shadow">
									<img src="{{src}}shadow.svg" alt="">
								</div>
								<!-- /.main-section__shadow -->
							</div>
							<!-- /.main-section__slider -->
						</div>
						<!-- /.main-section__right -->
					</div>
					<!-- /.main-section -->
					
					<div class="about" id="about">
						
						<div class="about__head">
							<div class="about__title">
								Почему вам стоит купить рекламное место на сайте вГастроном?
							</div>
							<!-- /.about__title -->
							<div class="about__shadow">
								ПОЧЕМУ
							</div>
							<!-- /.about__shadow -->
						</div>
						<!-- /.about__head -->
						
						
						<div class="about-advantage">
							<div class="about-advantage__col">
								<div class="about-advantage__title">
									Более 100 000
								</div>
								<!-- /.about-advantage__title -->
								<div class="about-advantage__desc">
									посетителей<br>
									в месяц
								</div>
								<!-- /.about-advantage__desc -->
							</div>
							<!-- /.about-advantage__col -->
							<div class="about-advantage__col">
								<div class="about-advantage__title">
									Более 25 000
								</div>
								<!-- /.about-advantage__title -->
								<div class="about-advantage__desc">
									проданных<br>
									товаров в месяц
								</div>
								<!-- /.about-advantage__desc -->
							</div>
							<!-- /.about-advantage__col -->
							<div class="about-advantage__col">
								<div class="about-advantage__title">
									Более 200 000
								</div>
								<!-- /.about-advantage__title -->
								<div class="about-advantage__desc">
									просмотров<br>
									в месяц
								</div>
								<!-- /.about-advantage__desc -->
							</div>
							<!-- /.about-advantage__col -->
						</div>
						<!-- /.about-advantage -->
						
						<div class="about-numbs">
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									7
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Крупных<br>
									городов РФ
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									7,61%
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Хорошая конверсия<br> в продажи от уникальных посетителей
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									26,16%
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Хороший показатель<br>
									отказов
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									4,9%
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Высокий уровень<br>
									SCAT <span>(по 5-ти<br>
									бальной шкале)</span>
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									4,2
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Отличный рейтинг<br>
									на Flamp
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									5,452
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Значительная<br>
									глубина просмотров
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									5:46
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Среднее пребывание<br>
									на сайте в минутах
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
							
							<div class="about-numbs__col">
								<div class="about-numbs__title">
									20 100
								</div>
								<!-- /.about-numbs__title -->
								<div class="about-numbs__desc">
									Зарегистрированных<br>
									пользователей
								</div>
								<!-- /.about-numbs__desc -->
							</div>
							<!-- /.about-numbs__col -->
						</div>
						<!-- /.about-numbs -->
					</div>
					<!-- /#about.about -->
					
					<div class="indicators" id="indicators">
						
						<div class="indicators__bg"></div>
						
						<div class="indicators__section">
							<div class="indicators__title">
								Показатели по городам
							</div>
							<!-- /.indicators__title -->
							
							<div class="indicators__tabs">
								
								<div class="swiper-container js-tabs-menu-slider tabs-menu__slider">
									<div class="tabs-menu swiper-wrapper" data-tabs>
										
										
										<a class="tabs-menu__link swiper-slide active" href="#js-tabs-1" data-tabs-children>
											Все города
										</a>
										
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-2"
										   data-tabs-children>
											Екатеринбург
										</a>
										
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-3" data-tabs-children>
											Санкт-Петербург
										</a>
										
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-4" data-tabs-children>
											Новосибирск
										</a>
										
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-5" data-tabs-children>
											Самара
										</a>
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-6" data-tabs-children>
											Нижний Новгород
										</a>
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-7"
										   data-tabs-children>
											Пермь
										</a>
										
										<a class="tabs-menu__link swiper-slide" href="#js-tabs-8" data-tabs-children>
											Уфа
										</a>
									
									</div>
									<!-- /.tabs-menu -->
								</div>
								
								<!-- Add Arrows -->
								<div class="swiper-button-prev js-tabs-menu-prev js-tabs-menu-prev swiper-button-disabled">
									{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="prev") }}
								</div>
								<div class="swiper-button-next js-tabs-menu-next tabs-menu__next">
									{{ sliderBtn.sliderBtn(class="slider", nextOrPrev="next") }}
								</div>
								
							</div>
							<!-- /.indicators__tabs -->
							
							{% from "indicators-block/indicators-block.html" import indicatorsBlock %}
							{% from "indicators-block/indicators-block-sex.html" import indicatorsBlockSex %}
							{% from "indicators-charts/indicators-charts.html" import indicatorsCharts %}
							
							<div class="indicators__content">
								<div class="tabs">
									<div class="tabs__inner" id="js-tabs-1">
										<div class="indicators__row">
											
											<div class="indicators-block__list">
												
												<div class="indicators-block__item">
													{{indicatorsBlock()}}
												</div>
												<!-- /.indicators-block__item -->
												
												<div class="indicators-block__item">
													{{indicatorsBlock(
													title = 'Среднее колличество просмотров ЗА ГОД',
													city = 'all',
													indicator = 'year',
													count = '1 328 158',
													desc = 'Просмотры'
													)}}
												</div>
												<!-- /.indicators-block__item -->
												
												<div class="indicators-block__item">
													{{indicatorsBlockSex()}}
												</div>
												<!-- /.indicators-block__item -->
												
												<div class="indicators-block__item">
													{{indicatorsCharts()}}
												</div>
												<!-- /.indicators-block__item -->
											</div>
											<!-- /.indicators-block__list -->
											
											<div class="indicators-text">
												<div class="indicators-text__title">
													Cреднее время пребывания на сайте
												</div>
												<!-- /.indicators-text__title -->
												<div class="indicators-text__desc">
													5:46 минут
												</div>
												<!-- /.indicators-text__desc -->
												
												<div class="indicators-text__title">
													Глубина просмотра за время работы
												</div>
												<!-- /.indicators-text__title -->
												<div class="indicators-text__desc">
													7:39 минут
												</div>
												<!-- /.indicators-text__desc -->
												
												<div class="indicators-text__title">
													Отказы за все время работы сайта
												</div>
												<!-- /.indicators-text__title -->
												<div class="indicators-text__desc">
													26,16%
												</div>
												<!-- /.indicators-text__desc -->
												
												<div class="indicators-text__title">
													Колличество зарегистрированных пользователей
												</div>
												<!-- /.indicators-text__title -->
												<div class="indicators-text__desc">
													Более 20 тысяч
												</div>
												<!-- /.indicators-text__desc -->
												
												<div class="indicators-text__title">
													Среднее кол-во позиций, добавляемых одним пользователем в корзину
												</div>
												<!-- /.indicators-text__title -->
												<div class="indicators-text__desc">
													18 разных позиций товаров
												</div>
												<!-- /.indicators-text__desc -->
											</div>
											<!-- /.indicators-text -->
											
										</div>
										<!-- /.indicators__row -->
										<div class="indicators__form">
											
											<div class="indicators__form-title">
												Заказать рекламу в этом городе
											</div>
											<!-- /.indicators__form-title -->
											
											{{ form.form(modifier="indication", from="Форма показатели по всем городам") }}
											
											
										</div>
										<!-- /.indicators__form -->
									</div>
									
									<div class="tabs__inner" id="js-tabs-2">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'ekat',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'ekat',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'ekat',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
										
									</div>
									<div class="tabs__inner" id="js-tabs-3">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'spb',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'spb',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'spb',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
										
									</div>
									<div class="tabs__inner" id="js-tabs-4">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'novosib',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'novosib',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'novosib',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
									</div>
									<div class="tabs__inner" id="js-tabs-5">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'samara',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'samara',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'samara',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
									</div>
									
									<div class="tabs__inner" id="js-tabs-6">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'nn',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'nn',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'nn',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
									</div>
									<div class="tabs__inner" id="js-tabs-7">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'perm',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'perm',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'perm',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
									</div>
									<div class="tabs__inner" id="js-tabs-8">
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров за месяц',
										city = 'ufa',
										indicator = 'month',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlock(
										title = 'Среднее колличество просмотров ЗА ГОД',
										city = 'ufa',
										indicator = 'year',
										count = '1 328 158',
										desc = 'Просмотры'
										)}}
										
										{{indicatorsBlockSex(
										title = 'ПОЛ ПОЛЬЗОВАТЕЛЕЙ',
										mod = 'indicators-block_sex',
										city = 'ufa',
										indicator = 'sex',
										countFemale = '37%',
										countMale = '63%'
										)}}
									</div>
								
								</div>
								<!-- /.tabs  -->
							</div>
							<!-- /.indicators__content -->
						</div>
						<!-- /.indicators__section -->
					</div>
					<!-- /#indicators.indicators -->
				
				</div>
				<!-- /.container -->
				
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		
		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script>
	var toolTimeline = new TimelineMax({repeat: -1, repeatDelay: 10});
</script>

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
