<div class="map-timeline">
	<div class="map-timeline__year">
		2019
	</div>
	<!-- /.map-timeline__year -->
	
	
	<div class="map-timeline__item">
		
		<div class="map-timeline__month">
			
			<div class="map-timeline__index">
				1
			</div>
			<!-- /.map-timeline__index -->
			
			МАРТ
		</div>
		<!-- /.map-timeline__month -->
		<div class="map-timeline__desc">
			Пермь
		</div>
		<!-- /.map-timeline__desc -->
	
	</div>
	<!-- /.map-timeline__item -->
	
	<div class="map-timeline__item">
		
		
		<div class="map-timeline__month">
			
			<div class="map-timeline__index">
				2
			</div>
			<!-- /.map-timeline__index -->
			
			АПРЕЛЬ
		</div>
		<!-- /.map-timeline__month -->
		<div class="map-timeline__desc">
			Уфа
		</div>
		<!-- /.map-timeline__desc -->
	
	</div>
	<!-- /.map-timeline__item -->
	
	<div class="map-timeline__item">
		
		
		<div class="map-timeline__month">
			
			<div class="map-timeline__index">
				3
			</div>
			<!-- /.map-timeline__index -->
			
			До конца года
		</div>
		<!-- /.map-timeline__month -->
		<div class="map-timeline__desc">
			Краснодар,
		</div>
		<!-- /.map-timeline__desc -->
		<div class="map-timeline__desc">
			Тюмень,
		</div>
		<!-- /.map-timeline__desc -->
		<div class="map-timeline__desc">
			Саратов,
		</div>
		<!-- /.map-timeline__desc -->
		<div class="map-timeline__desc">
			Ростов на Дону
		</div>
		<!-- /.map-timeline__desc -->
	
	</div>
	<!-- /.map-timeline__item -->


</div>
<!-- /.map-timeline -->