.container{
	width: 95%;
	margin-right:  auto;
	margin-left: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	height: 100%;
	
	@media all and (max-width: $screen-lg) {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	@media all and (max-width: $screen-md) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
