@font-face {
	font-family: "Rounded Mplus 1c";
	src: url(fonts/roundedmplus1c/subset-RoundedMplus1c-ExtraBold.woff);
	font-weight: 800;
}

@font-face {
	font-family: "Rounded Mplus 1c";
	src: url(fonts/roundedmplus1c/subset-RoundedMplus1c-Medium.woff);
	font-weight: 500;
}